scapy
nmap
requests
pyyaml
pyserial
shodan
python-whois
blesuite
aioblescan
pybluez
pygatt
pyusb
pyhidapi
pyzigbee
pyLoRa
openai
transformers
torch
torchaudio
sentence-transformers
vosk
pyttsx3
pyaudio
speechrecognition
PyQt5
flask
flask-socketio
websocket-server
websockets
jinja2
opencv-python
pillow
numpy
matplotlib
scikit-learn
seaborn
tflite-runtime
rich
termcolor
prompt_toolkit
pycryptodome
cryptography
hashlib
lief
yara-python
capstone
binwalk
construct
pyHackRF
pyLibiio
rtlsdr
py7zr
rarfile
taxii2-client
flask-login
flask-jwt-extended
